<?xml version="1.0"?>
<config>
    <modules>
        <Dastmalchi_ConversionTracker>
            <version>0.9.0</version>
        </Dastmalchi_ConversionTracker>
    </modules>
    <global>
        <blocks>
            <dastmalchi_conversiontracker>
                <class>Dastmalchi_ConversionTracker_Block</class>
            </dastmalchi_conversiontracker>
        </blocks>
        <helpers>
            <dastmalchi_conversiontracker>
                <class>Dastmalchi_ConversionTracker_Helper</class>
            </dastmalchi_conversiontracker>
        </helpers>
        <models>
            <dastmalchi_conversiontracker>
                <class>Dastmalchi_ConversionTracker_Model</class>
            </dastmalchi_conversiontracker>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <dastmalchi_conversiontracker>
                    <file>dastmalchi_conversiontracker.xml</file>
                </dastmalchi_conversiontracker>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <dastmalchi_conversiontracker>
                    <file>dastmalchi_conversiontracker.xml</file>
                </dastmalchi_conversiontracker>
            </updates>
        </layout>>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <conversiontracker_settings>
                                            <title>Conversion Tracker</title>
                                        </conversiontracker_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dastmalchi_conversiontracker after="Mage_Adminhtml">Dastmalchi_ConversionTracker_Adminhtml</dastmalchi_conversiontracker>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
